
.smallBox {
    width:300px; height:100px;
    display:flex;
    flex-direction:row;
    flex-basis:300px;
}



#smallbox1, #smallbox2, #smallbox3 {
      background-color:rgba(255, 182, 193, 0.76);
    border: 10px solid rgb(255, 229, 248);
    font-family:cursive;
    margin:2px;
}

.Row2 {
    width:100%;height:300px;
}

.Row3 {
    width:100%;height:300px;
}