table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /* center the table */
    /* margin: auto; */
    margin: 0 auto;
}
th, td {
    padding: 20px;
}

table {
    background-color: rgb(255, 213, 255);
    /* move to center */
    margin-top: 25%

}

h1, h2 {
    text-align:center;
}

body {
    background-image: url(https://krmiller.com/wp-content/uploads/2022/05/John-Hancock-HS_17.jpg);
}