* {
  padding:0;
  margin:0;
  font-size:40px;
}

.box-one {
  background-color: #EB5757;
  padding:20px;
  border: 10px solid #9b51e0;
  margin: 30px;
  width: 150px;
  height: 100px;
  box-sizing:border-box
}

.box-two {
  background-color: #2d9cdb;
  border: 10px solid #27AE60;
  margin: 30px;
  width: 150px;
  height: 100px;
  padding:20px;
  box-sizing:border-box;
}