.smallBox {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:1em;
    /* space-between is the amount of pixels between items */
}

.item-3, .item-2, .item-1 {
    width:300px; height:250px;
    background-color:palevioletred;
    border:10px solid plum;
    flex-grow:0.35;
}



#Text {
    font-family: cursive;
    font-size:60px;
    text-align:center;
}

#smallbox1, #smallbox2, #smallbox3 {
      background-color:rgba(255, 182, 193, 0.76);
    border: 10px solid rgb(255, 229, 248);
    font-family:cursive;
    margin:2px;
}

.Row2 {
    height:400px;
    margin:2px;
    background-color:palevioletred;
    border:10px solid plum;
    flex-grow:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-image:url(https://www.newgamenetwork.com/app/uploads/2025/10/celeste_07_3.jpg);
    background-size:contain;
}

.Row3 {
    width:100%;height:300px;
}